<%- include('partials/header') %>

<div class="container mt-5">

    <div class="row mb-4">

        <div class="col-md-4">

            <div class="card-box bg-primary">

                <h2><%= totalTasks %></h2>

                <h5>Total Tasks</h5>

            </div>

        </div>

        <div class="col-md-4">

            <div class="card-box bg-warning">

                <h2><%= pendingTasks %></h2>

                <h5>Pending Tasks</h5>

            </div>

        </div>

        <div class="col-md-4">

            <div class="card-box bg-success">

                <h2><%= completedTasks %></h2>

                <h5>Completed Tasks</h5>

            </div>

        </div>

    </div>

    <div class="table-box">

        <h2 class="text-center fw-bold text-primary mb-4">
            Real-Time Todo Dashboard
        </h2>

        <table class="table table-bordered table-hover text-center align-middle">

            <tr class="table-dark">

                <th>ID</th>
                <th>Name</th>
                <th>Course</th>
                <th>Status</th>
                <th>Action</th>

            </tr>

            <% Students.map((student)=>{ %>

                <tr>

                    <td><%= student.id %></td>

                    <td><%= student.name %></td>

                    <td><%= student.courseName %></td>

                    <td>

                        <% if(student.status == "Pending"){ %>

                            <span class="badge bg-warning">
                                Pending
                            </span>

                        <% } else if(student.status == "In Progress"){ %>

                            <span class="badge bg-primary">
                                In Progress
                            </span>

                        <% } else { %>

                            <span class="badge bg-success">
                                Completed
                            </span>

                        <% } %>

                    </td>

                    <td>

                        <a href="/edit-task?id=<%= student.id %>"
                           class="btn btn-primary btn-sm">
                            Edit
                        </a>

                        <a href="/delete-task?id=<%= student.id %>"
                           class="btn btn-danger btn-sm"
                           onclick="return confirm('Are you sure to delete this record ?')">
                            Delete
                        </a>

                    </td>

                </tr>

            <% }) %>

        </table>

    </div>

</div>

<%- include('partials/footer') %>